<div *ngIf="gradeSelected || newGrade">
  <app-title [title]="'Info Grade:'"></app-title>
  <br />
  <form [formGroup]="gradeForm" autofocus (ngSubmit)="submitForm();">
    <div class="form-group">
      <label for="name">Grade Value</label>
      <input type="text" class="form-control" formControlName="name" id="name" />
    </div>
    <div class="form-group">
      <label for="subject">Course Name</label>
      <select name="id" formControlName="id">
        <option [ngValue]="null">Choose a Subject</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject.id">
          {{subject.subjectName}}
        </option>
      </select>
    </div>

    <!--<div class="form-group">
    <label for="course">Course Name</label>
    <select name="courseID" formControlName="courseID">
      <option [ngValue]="null">Choose a course</option>
      <option *ngFor="let course of courses" [ngValue]="course.courseID">
        {{course.courseName}}
      </option>
    </select>
  </div>-->
    <!--<div class="form-group">
    <label for="subject">Subject Name</label>
    <select name="studentID" formControlName="studentID">
      <option [ngValue]="null">Choose a subject</option>
      <option *ngFor="let student of students" [ngValue]="student.studentID">
        {{student.studentName}}
      </option>
    </select>
  </div>-->
    <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-warning">Back</button>
  </form>
</div>

<div *ngIf="!gradeSelected && !newGrade">
  <app-title [title]="title"></app-title>
  <br />
  Select a grade. Or <a style="cursor:pointer; color:dodgerblue;" (click)="newGradeForm()">Insert New</a>
  <br />
  <p *ngIf="!subjects"><em>Loading...</em></p>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjects" style="cursor:pointer;" (click)="gradeSelect(subject)">
        <td>{{subject.id}}</td>
        <td>{{subject.subjectName}}</td>
      </tr>
    </tbody>
  </table>
</div>




